/* Colors */
$background1: #FFFFFF;
$background2: #F8F8F8;
$background3: #B0B0B0;
$background4: #787878;
$background5: #666666;
$background6: rgba(128, 128, 128, 0.75);
$background7: #555555;
$background8: rgba(64, 64, 64, 0.85);

$text1: #222222;
$text2: #BD3C20;
$text3: #F8F8F8;
$text4: #FFFFFF;
$text5: #666666;

$accent1: #69EAD3;
$accent2: #48C0AA;


/* Sizes */
$mobile: 425px;
$tablet: 768px;
$laptop: 1024px;
$desktop-sm: 1440px;
$desktop-normal: 1920px;
$desktop-lg: 2560px;